# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/deploy.sh
/mvn.sh
/.idea/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/config/
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/github/dee1024/sloth/source/db/db2/
src/main/java/com/github/dee1024/sloth/source/db/h2/
src/main/java/com/github/dee1024/sloth/source/db/sqlite/
src/main/java/com/github/dee1024/sloth/source/db/sybase/
src/main/java/com/github/dee1024/sloth/source/pojo/
src/main/resources/.DS_Store
src/main/resources/static/.DS_Store
src/main/resources/static/images/.DS_Store
src/main/resources/template/common/.DS_Store
src/main/resources/template/common/src/.DS_Store
src/main/resources/template/common/src/main/.DS_Store
src/main/resources/template/common/src/main/java/$packagename/.DS_Store
src/main/resources/template/common/src/main/java/$packagename/config/.DS_Store
src/main/resources/template/common/src/main/java/$packagename/config/swagger/.DS_Store
src/main/resources/template/common/src/main/java/.DS_Store
src/main/resources/template/common/src/test/.DS_Store
src/main/resources/template/common/src/test/java/$packagename/.DS_Store
src/main/resources/template/common/src/test/java/.DS_Store
src/main/resources/template/ssd/.DS_Store
src/main/resources/template/ssd/src/.DS_Store
src/main/resources/template/ssd/src/main/.DS_Store
src/main/resources/template/ssd/src/main/assembly/
src/main/resources/template/ssd/src/main/java/$packagename/.DS_Store
src/main/resources/template/ssd/src/main/java/$packagename/config/
src/main/resources/template/ssd/src/main/java/$packagename/service/.DS_Store
src/main/resources/template/ssd/src/main/java/$packagename/service/impl/.DS_Store
src/main/resources/template/ssd/src/main/java/.DS_Store
src/main/resources/template/ssd/src/main/webapp/
src/main/resources/template/ssd/src/test/
src/main/resources/template/ssj/.DS_Store
src/main/resources/template/ssj/src/main/.DS_Store
src/main/resources/template/ssj/src/main/assembly/
src/main/resources/template/ssj/src/main/java/$packagename/.DS_Store
src/main/resources/template/ssj/src/main/java/$packagename/aop/
src/main/resources/template/ssj/src/main/java/$packagename/common/
src/main/resources/template/ssj/src/main/java/$packagename/config/.DS_Store
src/main/resources/template/ssj/src/main/java/$packagename/config/database/.DS_Store
src/main/resources/template/ssj/src/main/java/$packagename/service/.DS_Store
src/main/resources/template/ssj/src/main/java/$packagename/service/impl/.DS_Store
src/main/resources/template/ssm/.DS_Store
src/main/resources/template/ssm/src/main/.DS_Store
src/main/resources/template/ssm/src/main/assembly/
src/main/resources/template/ssm/src/main/java/$packagename/.DS_Store
src/main/resources/template/ssm/src/main/java/$packagename/aop/
src/main/resources/template/ssm/src/main/java/$packagename/common/
src/main/resources/template/ssm/src/main/java/.DS_Store
src/main/resources/template/sss/.DS_Store
src/main/resources/template/sss/src/main/.DS_Store
src/main/resources/template/sss/src/main/assembly/
src/main/resources/template/sss/src/main/java/$packagename/.DS_Store
src/main/resources/template/sss/src/main/java/$packagename/config/.DS_Store
src/main/resources/template/sss/src/main/java/$packagename/dao/.DS_Store
src/main/resources/template/sss/src/main/java/$packagename/dao/impl/.DS_Store
src/main/resources/template/sss/src/main/java/$packagename/service/.DS_Store
src/main/resources/template/sss/src/main/java/$packagename/service/impl/.DS_Store
src/main/resources/template/sss/src/main/java/.DS_Store
target/classes/application.properties
target/classes/logback.xml
target/classes/static/
target/classes/template/
target/classes/webpage/
target/generated-sources/
target/maven-archiver/
target/maven-status/
